.video {
  width: 100vw;
  height: 100vh;

  video {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

}

.room-container {
  width: 100vw;
  height: 100vh;
  background: #171a21;
  display: flex;
  align-items: center;
}